<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286159962420-muqpf1urpanl1eqlchgoso191b9cqp3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286159962420-muqpf1urpanl1eqlchgoso191b9cqp3c</string>
	<key>API_KEY</key>
	<string>AIzaSyD-jq9dmMaJWwxNJRcKHvTCMHFL_oJsW_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>286159962420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dowithdev.flutterDowith</string>
	<key>PROJECT_ID</key>
	<string>fir-db-af07e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-db-af07e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286159962420:ios:33a812ba9d4f8d251be561</string>
	<key>DATABASE_URL</key>
	<string>https://fir-db-af07e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>